{{#each auto}}

<tr data-id="{{id}}">
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{kraftstoff}}</td>
    <td>
        <div class="black colorfield"></div>
        {{farbe}}
    </td>
    <td>{{bauart}}</td>
    <td>{{tank}}</td>
    <td>
        <i class="material-icons blue-text btn white tank">directions_car</i>
        <i class="material-icons green-text btn white edit">edit</i>
        <i class="material-icons red-text btn white delete">delete_forever</i>
    </td>
</tr>

{{/each}}