{{#each data}}

<tr data-id="{{id}}">
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{treibstoff}}</td>
            <td class={{farbe}}>{{farbe}}</td>
            <td>{{bauart}}</td>
            <td>{{Inverkehrssetzung}}</td>
            <td>{{tank}}</td>
            <td>{{beschreibung}}</td>
            
            <td><i class="small material-icons blue-text btn carBtn">directions_car</i>
                <i href="#modal1" class="small material-icons green-text btn penBtn modal-trigger">edit</i>
                <i class="small material-icons red-text btn deleteBtn">remove_circle</i>
            </td>
        </tr>
{{/each}}